RewriteEngine on
RewriteRule ^siswa$ index.php?page=siswa [QSA]
RewriteRule ^kelas$ index.php?page=kelas [QSA]
RewriteRule ^jurusan$ index.php?page=jurusan [QSA]
RewriteRule ^absen$ index.php?page=absen [QSA]
RewriteRule ^harian$ index.php?page=harian [QSA]
RewriteRule ^bulanan$ index.php?page=bulanan [QSA]
RewriteRule ^user$ index.php?page=user [QSA]